html {
  font-family: sans-serif;
  -ms-text-size-adjust: 200%;
  -webkit-text-size-adjust: 200%
}

body {
  margin: 0;
  box-sizing: border-box;
  min-width: 20rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #0d1117;
  color: white;
}

a {
  color: #237adf;
  text-decoration: none
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #24292e;
  }

  a {
    color: #0366d6;
  }
}

@media (max-width: 46rem) {
  body {
    padding: 1rem;
  }
}

a:hover {
  text-decoration: underline
}

b {
  font-weight: 600
}

hr {
  height: 0;
  margin: 1rem 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.8rem
}